html {
    background-color: #f1edec;
    color: #1a5d82; 
    font-family: 'Rubik';
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 4vw;
}

.navBar {
    width: 100vw;
}

.navBarContainer {
    background-color: #ffab9d;
    color: #1a5d82;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
}

.navItem {
    color: #1a5d82;
    font-family: 'Rubik';
    font-size: 1.4vw;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
}

.resumeSection{
    display: flex;
    justify-content: center;
    font-size: 2vw;
    padding: 20px;
}

.resumeCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    border-radius: 7%;
}

.innerTextP {
    padding: 0;
    margin: 0;
}

#resumeCardImage {
    height: 200px;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
}

.resumeExperience {
    display: flex;
    justify-content: center;
}

#microImage {
    height: 50px;
    width: 200px;
    margin: 10px;
}

.skillsIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

#jsImage {
    width: 35px;
    height: 35px;
    padding: 5px;
}
#cssImage {
    width: 35px;
    height: 35px;
    padding: 5px;
}
#htmlImage {
    width: 35px;
    height: 35px;
    padding: 5px;
}
#excelImage {
    width: 35px;
    height: 35px;
    padding: 5px;
}
#pythonImage {
    width: 35px;
    height: 35px;
    padding: 5px;
}
#analyticsImage {
    width: 35px;
    height: 35px;
    padding: 5px;
}