html {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(160deg, #f1edec, #f1edec 70%, #ffab9d 60%, #ffab9d);
    /* background-color: #f1edec; */
}

a {
    text-decoration: none;
    color: inherit;
}

.navBarContainer {
    color: #1a5d82;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
}

.navItem {
    color: #1a5d82;
    font-family: 'Rubik';
    font-size: 1.4vw;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
}

#pageTitle {
    font-family: 'Rubik';
    display: flex;
    justify-content: center;
    color: #1a5d82;
    font-size: 4vw;
}

.aboutMeCard-left {
    color: #1a5d82;
    transition: 0.3s;
    margin: 20px;
    flex-basis: 28%;
    border-radius: 4px;
}

.aboutMeCard-right {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 20px;
    flex-basis: 18%;
}

.aboutMeCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardContainer {
    padding: 2px 16px;
}

.aboutMe {
    font-family: 'Rubik';
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 1 0;
}

.aboutMe h4 {
    font-size: 3.5vh;
}

.aboutMe p {
    margin-bottom: 40px;
    font-size: 2.5vh;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

.cta {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(255, 171, 157, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #ffab9d;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.96);
}